{% extends 'base.html' %} {% block content %}
<section class="container my-3 py-4 bg-white border">
    <h2 class="text-center">
        Edit Book
    </h2>
</section>
<section>
    <div class="container">
        <form action="{%url 'update' pk=book.id%}" method="post">
        {% csrf_token %}
                {% for field in form %}
    <div class="form-group">
        {{ field.label }}
         {{ field }}
         {{field.errors}}
    </div>
    {% endfor %}
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
<script>
$('[data-toggle="datepicker"]').datepicker();
</script>
{% endblock content %}